.downloadBtn {
  opacity:0;
  background-color: hsl(0, 0%, 96%,.8);
  transition-duration: 200ms;
}
.downloadBtn:hover {
  translate: 0 -100%;
  opacity: 1;
}
.photoUrl:hover ~ .downloadBtn {
  translate: 0 -100%;
  opacity: 1;
}